#percent-built {
  font-size: 40px;
  text-align: center;
}

.scroller-no-tabs {
  width: 100%;
}

.osel-sliding-side-panel .contents {
  padding: 0px 24px;
}

.osel-button {
  margin-right: 16px;
  margin-left: 24px;
  width: 85%;
}

.osel-modal-overlay.fetching {
  position: unset;
  background-color: unset;
  margin-top: 5px;
}

.results {
  padding: none;
}

.results .result-label {
  text-align: center;
  margin-top: -40px;
}

#fetch-and-calculate {
  margin-bottom: 20px;
}
