html {
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
hr {
  height: 1px;
  color: #e0e0e0;
  background-color: #e0e0e0;
  border: none;
  margin: 0;
}
sup {
  vertical-align: baseline;
  position: relative;
  top: -0.2em;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
}
input[type=text]::-ms-clear {
  display: none;
}
* {
  box-sizing: content-box;
}
*:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: #dddddd;
}
::-moz-placeholder {
  color: #dddddd;
}
.hidden {
  position: absolute !important;
  left: -9999px;
  top: -9999px;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*
 * OSEL FRAMEWORK
 */
.osel-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.osel-map-crosshair {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url('../img/map-crosshair.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: none;
}
.osel-widget-switch-view {
  position: absolute;
  top: 22px;
  right: 70px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.osel-attribution-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 5px;
  margin: 0;
  display: block;
  font: 10px 'Source Sans Pro';
  height: 18px;
  line-height: 18px;
  background: rgba(245, 245, 245, 0.8);
  z-index: 1000;
  pointer-events: none;
}
.osel-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}
/* BUTTONS */
.osel-button {
  height: 40px;
  padding: 0 20px;
  border: none;
  border-radius: 3px;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
}
.osel-button.osel-primary-button {
  background-color: #2979af;
  color: #ffffff;
}
.osel-button.osel-primary-button:focus {
  box-shadow: 0 0 3px 2px rgba(41, 121, 175, 0.5);
}
.osel-button.osel-primary-button[disabled] {
  background-color: #dddddd;
  cursor: not-allowed;
}
.osel-button.osel-secondary-button {
  height: 36px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #2979af;
  color: #2979af;
  line-height: 36px;
  box-sizing: content-box;
}
.osel-button.osel-secondary-button:focus {
  box-shadow: 0 0 3px 2px rgba(41, 121, 175, 0.5);
}
.osel-button.osel-secondary-button[disabled] {
  border-color: #dddddd;
  background-color: rgba(0, 0, 0, 0);
  color: #999999;
  cursor: not-allowed;
}
.osel-button.osel-ghost-button {
  background-color: none;
  color: #2979af;
}
.osel-button.osel-ghost-button:focus {
  background-color: #f5f5f5;
  box-shadow: 0 0 3px 2px rgba(41, 121, 175, 0.5);
}
.osel-button.osel-ghost-button[disabled] {
  background-color: rgba(0, 0, 0, 0);
  color: #999999;
  cursor: not-allowed;
}
.osel-button.big {
  height: 48px;
  line-height: 48px;
}
.osel-button.small {
  height: 32px;
  line-height: 32px;
}
.no-touch .osel-button.osel-primary-button:hover {
  background-color: #97bdd6;
}
.no-touch .osel-button.osel-primary-button[disabled]:hover {
  background-color: #dddddd;
  cursor: not-allowed;
}
.no-touch .osel-button.osel-secondary-button:hover {
  background-color: #f5f5f5;
  border-color: #97bdd6;
  color: #97bdd6;
}
.no-touch .osel-button.osel-secondary-button[disabled]:hover {
  border-color: #dddddd;
  background-color: rgba(0, 0, 0, 0);
  color: #999999;
  cursor: not-allowed;
}
.no-touch .osel-button.osel-ghost-button:hover {
  background-color: #f5f5f5;
}
.no-touch .osel-button.osel-ghost-button[disabled]:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #999999;
  cursor: not-allowed;
}
.osel-toggle-button {
  display: block;
  width: 96px;
  height: 40px;
  float: left;
  margin-left: -1px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  color: #333333;
  text-align: center;
  font-size: 16px;
  line-height: 38px;
  box-sizing: border-box;
  cursor: pointer;
}
.osel-toggle-button:first-child {
  border-radius: 3px 0 0 3px;
}
.osel-toggle-button:last-child {
  border-radius: 0 3px 3px 0;
}
.osel-toggle-button.active {
  color: #ffffff;
  background-color: #2c3e50;
  border: none;
}
/* TOOLTIPS */
.osel-tooltip {
  position: absolute;
  left: 220px;
  height: 40px;
  padding: 0 12px;
  margin-top: 11px;
  background-color: #ffffff;
  font-size: 16px;
  color: #333333;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  z-index: 9999;
}
.osel-tooltip::after {
  position: absolute;
  top: 12px;
  left: -16px;
  content: " ";
  border: 8px solid transparent;
  border-right: 8px solid white;
  z-index: 1;
}
.osel-tooltip::before {
  position: absolute;
  top: 10px;
  left: -20px;
  content: " ";
  border: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.2);
  z-index: 0;
}
/* NOTIFICATIONS */
.osel-toast-notification {
  position: relative;
  width: calc(100% - 24px);
  max-width: 640px;
  min-height: 48px;
  margin: 8px auto;
  padding: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  overflow: auto;
  z-index: 10000;
}
.osel-toast-notification.success {
  background-color: #118011;
}
.osel-toast-notification.success .osel-notification-icon {
  background-position: -48px -24px;
}
.osel-toast-notification.error {
  background-color: #c63d54;
}
.osel-toast-notification.error .osel-notification-icon {
  background-position: 0 -24px;
}
.osel-toast-notification.warning {
  background-color: #ffb000;
  color: #333333;
}
.osel-toast-notification.warning .osel-notification-icon {
  background-position: -72px -24px;
}
.osel-toast-notification.info {
  background-color: #0071bc;
}
.osel-toast-notification.info .osel-notification-icon {
  background-position: -24px -24px;
}
.osel-toast-notification div {
  float: left;
}
.osel-toast-notification .osel-notification-icon {
  width: 24px;
  height: 24px;
  background-image: url('../img/notification-sprite.svg');
  background-repeat: no-repeat;
}
.osel-toast-notification .osel-notification-text {
  width: calc(100% - 60px);
  margin: 0 6px;
}
.osel-toast-notification .osel-notification-link {
  text-decoration: underline;
  cursor: pointer;
}
.osel-toast-notification .osel-notification-close {
  width: 24px;
  height: 24px;
  text-align: center;
  cursor: pointer;
}
.osel-toast-notification .osel-notification-close i {
  font-size: 18px;
}
/* MODAL */
.osel-modal-dialogue {
  position: relative;
  width: calc(100% - 24px);
  max-width: 600px;
  min-height: 246px;
  margin: 88px auto;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  border-top: 6px solid #2c3e50;
  border-radius: 0 0 3px 3px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  overflow: auto;
}
.osel-modal-dialogue .osel-modal-dialogue-body {
  padding: 48px;
}
.osel-modal-dialogue .osel-modal-dialogue-title {
  color: #666666;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}
.osel-modal-dialogue .osel-modal-dialogue-buttons {
  height: 88px;
  background-color: #f5f5f5;
}
.osel-modal-dialogue .osel-modal-dialogue-buttons button {
  float: right;
  margin: 24px 24px 24px 0;
}
.osel-modal-dialogue .osel-modal-dialogue-buttons button:nth-child(2) {
  margin-right: 20px;
}
.osel-modal-dialogue .osel-modal-dialogue-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  text-align: center;
  cursor: pointer;
}
.osel-modal-dialogue .osel-modal-dialogue-close i {
  font-size: 18px;
}
/* DROPDOWN MENU */
.osel-dropdown {
  position: relative;
  width: calc(100% - 65px);
  margin: 16px 22px;
  color: #333333;
  font-size: 16px;
  z-index: 2000;
  cursor: pointer;
}
.osel-dropdown .select {
  height: 38px;
  line-height: 38px;
  padding-left: 16px;
  padding-right: 8px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}
.osel-dropdown .select i {
  color: #666666;
  float: right;
}
.osel-dropdown .select.active {
  border-color: #2979af;
  box-shadow: 0 0 3px 2px rgba(41, 121, 175, 0.5);
}
.osel-dropdown .options {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.osel-dropdown .options div {
  height: 40px;
  line-height: 40px;
}
.osel-dropdown .options div i {
  width: 24px;
  margin: 0 5px;
  color: #666666;
  font-size: 22px;
  text-align: center;
  vertical-align: top;
}
.osel-dropdown .options div.selected {
  font-weight: 600;
}
.no-touch .osel-dropdown .options div:hover {
  background-color: #f5f5f5;
}
/* FIXED POPUP */
.osel-fixed-popup {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 328px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);
  z-index: 1050;
}
.osel-fixed-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 10px 12px;
  line-height: 24px;
  border: none;
  border-radius: 0 3px 0 0;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  color: #666666;
  cursor: pointer;
}
/* POPUP CONTENT */
.osel-popup-content {
  padding: 12px 16px 14px;
  line-height: 24px;
}
.osel-popup-content .osel-popup-heading {
  padding-bottom: 8px;
}
.osel-popup-content .osel-popup-heading img {
  float: left;
  padding-right: 8px;
}
.osel-popup-content .osel-popup-heading .osel-popup-title {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  width: 248px;
}
.osel-popup-content .osel-popup-heading .osel-popup-desc {
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: normal;
  color: #333333;
  color: #666666;
}
.osel-popup-content .osel-popup-heading::after {
  content: " ";
  display: table;
  clear: both;
}
.osel-popup-content .osel-popup-body {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  padding: 8px 0;
  color: #666666;
}
.osel-popup-content .osel-popup-link {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: normal;
  color: #0071bc;
  cursor: pointer;
  margin-top: 18px;
  text-align: center;
}
.no-touch .osel-popup-content .osel-popup-link:hover {
  text-decoration: underline;
}
/*
 * HEADER
 */
.header {
  position: absolute;
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  z-index: 2000;
  cursor: default;
}
/* SEARCH CONTROL */
.osel-search-control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 375px;
  height: inherit;
}
.osel-search-control.active {
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
  clip: rect(0px, 380px, 64px, 0px);
}
.osel-search-control form {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  position: absolute;
  top: 12px;
  left: 12px;
  width: calc(100% - 24px);
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  box-sizing: border-box;
}
.osel-search-control form.active {
  border-color: #2979af;
  box-shadow: 0 0 3px 2px rgba(41, 121, 175, 0.5);
}
.osel-search-control form i {
  width: 24px;
  height: 24px;
  margin: 7px 9px;
  color: #666666;
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
}
.osel-search-control form input {
  width: calc(100% - 58px);
  height: 24px;
  margin: 7px 4px 7px 0;
  padding: 0;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
}
.osel-search-control .add-clear-span i {
  margin: 0;
  font-size: 18px;
  text-align: center;
}
/* TITLE + NAVBAR ITEMS + LOGO */
.osel-title {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: normal;
  color: #333333;
  position: relative;
  top: 50%;
  left: 387px;
  margin: 0 auto;
  transform: translateY(-50%);
}
.osel-title div:nth-child(2) {
  font-size: 12px;
}
.osel-navbar-items {
  position: absolute;
  top: 16px;
  right: 124px;
  height: 32px;
  font-size: 16px;
}
.osel-navbar-items div {
  line-height: 32px;
  float: left;
}
.osel-navbar-items div.line {
  width: 2px;
  height: 30px;
  margin: 0 18px 0 12px;
  border-left: 1px solid #e0e0e0;
}
.osel-navbar-items .user-profile {
  font-size: 0;
  cursor: pointer;
}
.osel-navbar-items .user-profile .avatar {
  width: 32px;
  height: 32px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  background-image: url('../img/login-avatar-generic.png');
  background-color: #dddddd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}
.osel-navbar-items .user-profile span {
  margin: 0 6px 0 16px;
  font-size: 16px;
}
.osel-navbar-items .user-profile i {
  color: #666666;
}
.osel-logo {
  position: absolute;
  top: 20px;
  left: 24px;
  width: 100px;
}
.osel-logo img {
  height: 24px;
}
/* OVERFLOW MENU */
.osel-more-dropmenu-btn {
  position: absolute;
  top: 8px;
  right: 0;
  width: 24px;
  height: 24px;
  margin: 12px;
  color: #666666;
  display: none;
  cursor: pointer;
}
.osel-more-dropmenu {
  position: fixed;
  top: 48px;
  right: 0;
  width: 248px;
  border-radius: 3px;
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  cursor: default;
}
.osel-more-dropmenu .title,
.osel-more-dropmenu .label {
  width: 248px;
  height: 48px;
  padding: 0 24px;
  line-height: 48px;
  box-sizing: border-box;
}
.osel-more-dropmenu .title {
  height: auto;
  margin: 12px 0;
  line-height: 24px;
  font-size: 18px;
}
.osel-more-dropmenu .title div:nth-child(2) {
  font-size: 12px;
}
.osel-more-dropmenu .label.logo {
  height: auto;
  min-height: 56px;
  padding: 8px 24px;
  line-height: 0;
}
.osel-more-dropmenu .label.logo img {
  height: 24px;
  margin: 8px 0;
}
.osel-more-dropmenu .label.user-profile .avatar {
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 8px 0;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  background-image: url('../img/login-avatar-generic.png');
  background-color: #dddddd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
.osel-more-dropmenu .label.user-profile span {
  position: absolute;
  left: 72px;
}
.osel-more-dropmenu .label.interactive {
  cursor: pointer;
}
.no-touch .osel-more-dropmenu .label.interactive:hover {
  background-color: #f5f5f5;
}
/* USER PROFILE MENU */
.osel-user-profile-menu {
  position: fixed;
  top: 48px;
  right: 162px;
  height: 96px;
  width: 248px;
  border-radius: 3px;
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}
.osel-user-profile-menu .label {
  width: 248px;
  height: 48px;
  padding: 0 24px;
  line-height: 48px;
  box-sizing: border-box;
  cursor: pointer;
}
.no-touch .osel-user-profile-menu .label:hover {
  background-color: #f5f5f5;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 420px) {
  /* max-width 420px, mobile-only styles */
}
@media only screen and (max-width: 992px) {
  /* max-width 992px, mobile-only styles */
  .osel-search-control {
    width: calc(100% - 48px);
  }
  .osel-title,
  .osel-navbar-items,
  .osel-logo {
    display: none;
  }
  .osel-more-dropmenu-btn {
    display: block;
  }
}
/*
 * MAIN CONTENT
 */
.content {
  position: absolute;
  top: 64px;
  bottom: 0;
  width: 100%;
}
/* SLIDING SIDE PANEL */
.osel-sliding-side-panel {
  height: 100%;
  background-color: #ffffff;
  cursor: default;
}
.osel-sliding-side-panel.panel-left {
  box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1049;
}
.osel-sliding-side-panel.panel-right {
  z-index: 1051;
}
.osel-sliding-side-panel.panel-right.active {
  box-shadow: -2px 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.osel-sliding-side-panel .panel-toggle {
  position: absolute;
  top: 58px;
  left: 100%;
  width: 38px;
  height: 188px;
  background-image: url('../img/panel-tab.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  pointer-events: none;
}
.osel-sliding-side-panel .panel-toggle .toggle-handle {
  position: absolute;
  top: 44px;
  width: 32px;
  height: 100px;
  color: #ffffff;
  line-height: 100px;
  text-align: center;
  pointer-events: auto;
  cursor: pointer;
}
.osel-sliding-side-panel .panel-content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.osel-sliding-side-panel .panel-header {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: normal;
  color: #333333;
  height: 64px;
  padding: 0 20px;
  margin: 0;
  background-color: #2c3e50;
  color: #ffffff;
  line-height: 64px;
}
.osel-sliding-side-panel .panel-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  margin: 20px;
  color: #ffffff;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
.osel-sliding-side-panel .panel-close i {
  font-size: 18px;
  font-weight: 700;
}
.osel-sliding-side-panel .scroller,
.osel-sliding-side-panel .scroller-no-tabs {
  position: absolute;
  top: 128px;
  bottom: 0;
  left: 0;
  right: -17px;
  overflow-y: auto;
}
.osel-sliding-side-panel .scroller-no-tabs {
  top: 64px;
}
/* TABS */
.osel-sliding-side-panel .tabs {
  height: 64px;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}
.osel-sliding-side-panel .tabs span {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: normal;
  color: #333333;
  display: block;
  width: 50%;
  height: 60px;
  float: left;
  color: #6b7784;
  text-align: center;
  line-height: 60px;
}
.osel-sliding-side-panel .tabs span.active {
  color: #2c3e50;
  font-weight: 600;
  border-bottom: 4px solid #2c3e50;
}
.no-touch .osel-sliding-side-panel .tabs span:not(.active):hover {
  border-bottom: 4px solid #6b7784;
  cursor: pointer;
}
/* DATEPICKER */
.osel-sliding-side-panel .datepicker {
  position: relative;
  left: -9px;
  width: 274px;
  margin: 0 auto;
  padding: 24px 0;
  box-sizing: border-box;
}
/* LAYERS */
.osel-sliding-side-panel .osel-toggle-layers {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: normal;
  color: #0071bc;
  cursor: pointer;
  height: 40px;
  padding: 0 24px;
  font-size: 13px;
  line-height: 40px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}
.osel-sliding-side-panel .osel-toggle-layers i {
  margin-right: 6px;
  font-size: 18px;
}
.no-touch .osel-sliding-side-panel .osel-toggle-layers span:hover {
  text-decoration: underline;
}
.osel-sliding-side-panel .osel-view-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 0 24px;
  font-size: 13px;
  font-weight: normal;
  line-height: 40px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
.osel-sliding-side-panel .osel-view-info div {
  display: inline-block;
}
.osel-sliding-side-panel .osel-view-info .keyboard-ctrl span {
  font-weight: 600;
}
.osel-sliding-side-panel .osel-view-info .keyboard-ctrl span.button {
  padding: 3px 6px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}
.osel-sliding-side-panel .osel-view-info .reset-view {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: normal;
  color: #0071bc;
  cursor: pointer;
  font-size: inherit;
  float: right;
}
.no-touch .osel-sliding-side-panel .osel-view-info .reset-view:hover {
  text-decoration: underline;
}
.osel-sliding-side-panel ul.layers {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.osel-sliding-side-panel ul.layers .layer {
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: content-box;
}
.osel-sliding-side-panel ul.layers .layer .layer-element {
  min-height: 62px;
  line-height: 62px;
  cursor: pointer;
}
.osel-sliding-side-panel ul.layers .layer .layer-element div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.key {
  width: 18px;
  height: 18px;
  margin: 22px 16px 22px 0;
  background-color: #999999;
  border-radius: 50%;
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.label-xlx0 {
  width: calc(100% - 83px);
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.label-xlx1 {
  width: calc(100% - 123px);
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.label-xlx2 {
  width: calc(100% - 163px);
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.label-xlc0 {
  width: calc(100% - 133px);
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.label-xlc1 {
  width: calc(100% - 169px);
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.label-xlc2 {
  width: calc(100% - 209px);
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.label-klx0 {
  width: calc(100% - 117px);
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.label-klx1 {
  width: calc(100% - 157px);
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.label-klx2 {
  width: calc(100% - 197px);
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.label-klc0 {
  width: calc(100% - 167px);
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.label-klc1 {
  width: calc(100% - 203px);
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.label-klc2 {
  width: calc(100% - 243px);
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.count {
  width: 42px;
  margin-left: 4px;
  text-align: right;
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.toggle,
.osel-sliding-side-panel ul.layers .layer .layer-element div.overflow {
  width: 24px;
  margin-left: 16px;
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.toggle i,
.osel-sliding-side-panel ul.layers .layer .layer-element div.overflow i {
  color: #2979af;
  line-height: 24px;
  vertical-align: middle;
  cursor: pointer;
}
.osel-sliding-side-panel ul.layers .layer .layer-element div.sub-label {
  padding: 0 31px 24px 24px;
  line-height: 24px;
  color: #666666;
  font-style: italic;
  font-weight: normal;
  white-space: normal;
}
.osel-sliding-side-panel ul.layers .layer .layer-element .checkmark,
.osel-sliding-side-panel ul.layers .layer .layer-element .radio-button {
  width: 24px;
  height: 24px;
  margin: 19px 11px 19px 21px;
  background-repeat: no-repeat;
  float: left;
}
.osel-sliding-side-panel ul.layers .layer .layer-element .checkmark {
  background-image: url('../img/chkbox-sprite.svg');
}
.osel-sliding-side-panel ul.layers .layer .layer-element .radio-button {
  background-image: url('../img/radio-sprite.svg');
}
.osel-sliding-side-panel ul.layers .layer .layer-element[data-type="checkbox"][data-state="unchecked"],
.osel-sliding-side-panel ul.layers .layer .layer-element[data-type="radio"][data-state="unchecked"] {
  font-weight: normal;
}
.osel-sliding-side-panel ul.layers .layer .layer-element[data-type="list-item"] div.label {
  width: calc(100% - 51px);
  margin-left: 24px;
  font-weight: normal;
}
.osel-sliding-side-panel ul.layers .layer .layer-element[data-type="list-item"] div.label i {
  margin-left: -2px;
  margin-right: 10px;
  color: #666666;
}
.osel-sliding-side-panel ul.layers .layer .layer-element[data-type="list-item"].title div.label {
  width: calc(100% - 91px);
  font-weight: 600;
}
.osel-sliding-side-panel ul.layers .layer .layer-element[data-type="list-item"].active {
  background-color: #f5f5f5;
  overflow-y: hidden;
}
.osel-sliding-side-panel ul.layers .layer .layer-element[data-type="list-item"].active div.label {
  font-weight: 600;
}
.osel-sliding-side-panel ul.layers .layer .layer-element.disabled {
  color: #dddddd;
  cursor: not-allowed;
}
.osel-sliding-side-panel ul.layers .layer .layer-element.disabled div.key {
  opacity: 0.5;
}
.osel-sliding-side-panel ul.layers .layer .layer-element[data-state="checked"] .checkmark,
.osel-sliding-side-panel ul.layers .layer .layer-element[data-state="checked"] .radio-button {
  background-position: 0 0;
}
.osel-sliding-side-panel ul.layers .layer .layer-element.disabled[data-state="checked"] .checkmark,
.osel-sliding-side-panel ul.layers .layer .layer-element.disabled[data-state="checked"] .radio-button {
  background-position: 0 -48px;
}
.osel-sliding-side-panel ul.layers .layer .layer-element[data-state="unchecked"] .checkmark,
.osel-sliding-side-panel ul.layers .layer .layer-element[data-state="unchecked"] .radio-button {
  background-position: -24px 0;
}
.osel-sliding-side-panel ul.layers .layer .layer-element.disabled[data-state="unchecked"] .checkmark,
.osel-sliding-side-panel ul.layers .layer .layer-element.disabled[data-state="unchecked"] .radio-button {
  background-position: -24px -48px;
}
.osel-sliding-side-panel ul.layers .layer .layer-element[data-state="indeterminate"] .checkmark {
  background-position: -48px 0;
}
.osel-sliding-side-panel ul.layers .layer .layer-element.disabled[data-state="indeterminate"] .checkmark {
  background-position: -48px -48px;
}
.osel-sliding-side-panel ul.layers .layer .layer-options .layer-element {
  padding-left: 34px;
}
.osel-sliding-side-panel ul.layers .layer .layer-options .layer-element[data-type="list-item"].icon {
  padding-left: 0;
}
.osel-sliding-side-panel ul.layers .layer.ui-sortable-helper {
  background: #f5f5f5;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.15);
}
.no-touch .osel-sliding-side-panel ul.layers .layer-element:not(.disabled):hover {
  background-color: #f5f5f5;
  overflow-y: hidden;
}
.no-touch .osel-sliding-side-panel ul.layers .layer-element:not(.disabled):hover div[class*="label-"].expander {
  line-height: 1.5;
  margin: 19px 0;
  white-space: unset;
  overflow: unset;
  text-overflow: unset;
}
.no-touch .osel-sliding-side-panel ul.layers .layer-element div.toggle i:hover,
.no-touch .osel-sliding-side-panel ul.layers .layer-element div.overflow i:hover {
  border-radius: 3px;
  background-color: #e0e0e0;
}
.no-touch .osel-sliding-side-panel ul.layers .layer-element[data-type="list-item"].title {
  background-color: #ffffff;
  cursor: default;
}
.no-touch .osel-sliding-side-panel ul.layers.sortable .layer-element:not(.disabled):hover::before {
  position: relative;
  top: 3px;
  left: 8px;
  width: 0;
  content: url('../img/layer-grip.svg');
  float: left;
}
.no-touch .osel-sliding-side-panel ul.layers .layer-options .layer-element:not(.disabled):hover::before {
  left: -26px;
}
/* OVERFLOW MENU */
.osel-overflow-menu .layer-overflow {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  position: fixed;
  top: -9999px;
  left: -9999px;
  height: 192px;
  width: 300px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
  z-index: 1050;
  cursor: default;
}
.osel-overflow-menu .layer-overflow .label {
  width: 300px;
  height: 48px;
  padding: 0 24px;
  line-height: 48px;
  box-sizing: border-box;
}
.osel-overflow-menu .layer-overflow .label.interactive:not(.disabled) {
  cursor: pointer;
}
.osel-overflow-menu .layer-overflow .label.interactive:not(.disabled):hover {
  background-color: #f5f5f5;
}
.osel-overflow-menu .layer-overflow .label.interactive.disabled {
  cursor: not-allowed;
}
.osel-overflow-menu .layer-overflow .label.inactive {
  color: #dddddd;
  cursor: not-allowed;
}
.osel-overflow-menu .layer-overflow .label.disabled {
  color: #dddddd;
}
.osel-overflow-menu .layer-overflow div.slider-range {
  position: relative;
  padding: 12px 0;
  line-height: 48px;
}
.osel-overflow-menu .layer-overflow div.slider-range output {
  position: absolute;
  top: -12px;
  right: 16px;
  width: 52px;
  text-align: right;
}
.osel-overflow-menu .layer-overflow div.slider-range output.disabled {
  color: #dddddd;
}
/* FEATURE PROPERTIES */
.osel-feature-properties {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  padding: 18px 41px 18px 24px;
}
.osel-feature-properties .property div {
  min-height: 22px;
  line-height: 22px;
}
.osel-feature-properties .property div:nth-child(1) {
  color: #999999;
  font-weight: normal;
}
.osel-feature-properties .property div:nth-child(2) {
  margin-bottom: 8px;
}
/*
 * CONTROL CONTAINER
 */
.container-top {
  top: 0;
}
.container-right {
  right: 0;
}
.container-bottom {
  bottom: 0;
}
.container-left {
  left: 0;
}
.osel-control-container {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  position: absolute;
  padding: 18px 20px;
  z-index: 1000;
  pointer-events: none;
}
/* ACTION BUTTON */
.osel-control-container .action-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #2c3e50;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.osel-control-container .action-button.selected {
  background-color: #6b7784;
  box-shadow: none;
}
.no-touch .osel-control-container .action-button:hover {
  background-color: #6b7784;
}
/* ZOOM CONTROL */
.osel-control-container .zoom-control {
  width: 24px;
  height: 49px;
  background-color: #ffffff;
  line-height: 24px;
  text-align: center;
  border-radius: 24px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  pointer-events: auto;
  cursor: pointer;
}
.osel-control-container .zoom-control .zoom-in {
  border-bottom: 1px solid #e0e0e0;
}
.osel-control-container .zoom-control i {
  font-size: 20px;
}
.osel-control-container .zoom-control [class^="zoom-"].disabled {
  color: #dddddd;
  cursor: not-allowed;
}
.no-touch .osel-control-container .zoom-control [class^="zoom-"]:hover {
  color: #999999;
}
.no-touch .osel-control-container .zoom-control [class^="zoom-"].disabled:hover {
  color: #dddddd;
  cursor: not-allowed;
}
/* ROTATION CONTROL */
.osel-control-container .rotation-control {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-top: 16px;
  margin-left: -4px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  pointer-events: auto;
  cursor: pointer;
}
.osel-control-container .rotation-control .compass {
  width: 24px;
  height: 24px;
  margin: 4px;
  background-image: url('../img/nav-compass.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* MAP CENTER CONTROL */
.osel-control-container .center-control .action-button {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 12px;
  background-image: url('../img/ctrl-crosshair.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  pointer-events: auto;
}
.osel-control-container .center-control .panel.coords-box {
  position: fixed;
  bottom: -9999px;
  right: -9999px;
  width: 264px;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  cursor: default;
}
.osel-control-container .center-control .panel.coords-box .title {
  margin: 16px 34px 0;
  color: #666666;
  font-size: 15px;
  line-height: 24px;
}
.osel-control-container .center-control .panel.coords-box .main div {
  height: 24px;
  line-height: 24px;
  float: left;
}
.osel-control-container .center-control .panel.coords-box .main .coord-value {
  width: 196px;
}
.osel-control-container .center-control .panel.coords-box .main .coord-value span {
  padding: 0 14px;
}
.osel-control-container .center-control .panel.coords-box .main [class^="navigate-"] {
  width: 34px;
  color: #666666;
  text-align: center;
  cursor: pointer;
}
.osel-control-container .center-control .panel.coords-box .main [class^="navigate-"] i {
  width: 24px;
  height: 24px;
  line-height: 24px;
  transform: rotate(90deg);
}
.osel-control-container .center-control .navigation {
  text-align: center;
}
.osel-control-container .center-control .navigation .dot {
  width: 7px;
  height: 7px;
  margin: 0 3px;
  border: 1px solid #666666;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
}
.osel-control-container .center-control .navigation .dot.active {
  background-color: #666666;
}
.no-touch .osel-control-container .center-control .panel.coords-box .main [class^="navigate-"]:hover {
  color: #999999;
}
/* BASEMAP CONTROL */
.osel-control-container .basemap-control .action-button {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 12px;
  background-image: url('../img/ctrl-layers.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  pointer-events: auto;
  cursor: pointer;
}
.osel-control-container .basemap-control .panel.list-select {
  position: fixed;
  bottom: -9999px;
  right: -9999px;
  width: 264px;
  background-color: #ffffff;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  cursor: pointer;
}
.osel-control-container .basemap-control .panel.list-select .list-item {
  position: relative;
  width: 264px;
  height: 48px;
  overflow: hidden;
}
.osel-control-container .basemap-control .panel.list-select .list-item:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}
.osel-control-container .basemap-control .panel.list-select .list-item img {
  width: 264px;
  height: 48px;
}
.osel-control-container .basemap-control .panel.list-select .list-item img.os-maps {
  background-image: url('../img/os-maps-sprite.png');
  background-repeat: no-repeat;
  background-size: 264px 240px;
}
.osel-control-container .basemap-control .panel.list-select .list-item img.os-maps.leisure {
  background-position: 0 0;
}
.osel-control-container .basemap-control .panel.list-select .list-item img.os-maps.outdoor {
  background-position: 0 -48px;
}
.osel-control-container .basemap-control .panel.list-select .list-item img.os-maps.road {
  background-position: 0 -96px;
}
.osel-control-container .basemap-control .panel.list-select .list-item img.os-maps.light {
  background-position: 0 -144px;
}
.osel-control-container .basemap-control .panel.list-select .list-item img.os-maps.night {
  background-position: 0 -192px;
}
.osel-control-container .basemap-control .panel.list-select .list-item img.zoomstack {
  background-image: url('../img/open-zoomstack-sprite.png');
  background-repeat: no-repeat;
  background-size: 264px 192px;
}
.osel-control-container .basemap-control .panel.list-select .list-item img.zoomstack.outdoor {
  background-position: 0 0;
}
.osel-control-container .basemap-control .panel.list-select .list-item img.zoomstack.road {
  background-position: 0 -48px;
}
.osel-control-container .basemap-control .panel.list-select .list-item img.zoomstack.light {
  background-position: 0 -96px;
}
.osel-control-container .basemap-control .panel.list-select .list-item img.zoomstack.night {
  background-position: 0 -144px;
}
.osel-control-container .basemap-control .panel.list-select .list-item div {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  padding: 0 14px;
  margin-left: 48px;
  line-height: 48px;
  background-color: #ffffff;
  box-shadow: -2px -2px 3px 0 rgba(0, 0, 0, 0.2);
  pointer-events: none;
  transition: margin-left 0.3s ease-in-out;
}
.osel-control-container .basemap-control .panel.list-select .list-item div.active {
  background-color: #f5f5f5;
  font-weight: 600;
}
.osel-control-container .basemap-control .panel.list-select .list-item div.rollover {
  margin-left: 114px;
  background-color: #f5f5f5;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .osel-control-container .basemap-control .panel.list-select .list-item img.os-maps {
    background-image: url('../img/os-maps-sprite@2x.png');
  }
  .osel-control-container .basemap-control .panel.list-select .list-item img.zoomstack {
    background-image: url('../img/open-zoomstack-sprite@2x.png');
  }
}
/* LEGEND CONTROL */
.osel-control-container .legend-control {
  margin-bottom: 12px;
  line-height: 62px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  cursor: default;
}
.osel-control-container .legend-control .panel {
  border-bottom: 1px solid #e0e0e0;
}
.osel-control-container .legend-control .panel .heading {
  height: 62px;
  padding: 0 18px;
  border-bottom: 1px solid #e0e0e0;
}
.osel-control-container .legend-control .panel .legend {
  min-height: 62px;
}
.osel-control-container .legend-control .widget {
  display: inline-flex;
}
.osel-control-container .legend-control .widget .panel-expand {
  width: 62px;
  border-right: 1px solid #e0e0e0;
  text-align: center;
  cursor: pointer;
}
.osel-control-container .legend-control .widget .legend {
  width: 288px;
  padding: 0 16px;
}
.osel-control-container .legend-control .widget .legend .gradient,
.osel-control-container .legend-control .widget .legend .swatches {
  position: absolute;
  bottom: 72px;
}
.osel-control-container .legend-control .widget .legend .gradient {
  width: inherit;
  height: 8px;
}
.osel-control-container .legend-control .widget .legend .swatches div {
  width: 27px;
  height: 8px;
  float: left;
}
.osel-control-container .legend-control .widget .legend .swatches div:not(:last-child) {
  margin-right: 2px;
}
.osel-control-container .legend-control .widget .legend .labels {
  position: absolute;
  bottom: 66px;
  color: #333333;
}
.osel-control-container .legend-control .widget .legend .labels div {
  position: absolute;
  width: 288px;
  height: 24px;
  line-height: 24px;
}
.osel-control-container .legend-control .widget .legend .labels div.lower {
  text-align: left;
}
.osel-control-container .legend-control .widget .legend .labels div.upper {
  text-align: right;
}
.osel-control-container .legend-control .widget .legend .labels div.units {
  text-align: center;
}
